
/* Asterisco seleciona todos os elementos da pagina */
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(50deg, black, rgb(102, 27, 104));
}

.fundo{
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 12px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    color: white;
}
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    border-radius: 10px;
    color: black;
    text-align: right;
    padding: 7px;
    max-width: 25ch; /* Não ultrapassar de 25 caracteres */
    overflow: hidden;
    text-overflow: ellipsis; /* Se ultrapassar de 25, deixar arrumado */
    white-space: nowrap;
}